%h1.page_heading.clearfix Campaign Call Status and History
%ul.campaign_gateways
  -@gateways.each do |gateway|
    %li
      %span{:class => "campaign_list", :data => {:id =>gateway.id}}
        %i{:class => "fa fa-angle-up"}
        %span= gateway.title
      #campaigns.campaigns
        %div{:class => "campaigns_box_#{gateway.id} cmp_table"}

      
.show_content_section
  .modal.hide.fade{:id => "showContentModal", :tabindex => "-1", :role => "dialog"}
%div
  = paginate  @gateways
- content_for :js do
  :javascript
    $(document).ready(function(){
      window.campaign_results = new CampaignResults()
    })