.row
  .col-sm-12
    .page-header.main
      .pull-right.header-buttons
        = link_to my_account_path, class: "btn btn-primary" do
          %i.fa.fa-hand-o-left
          Back
      %h1
        = "Edit Account"

.row
  .col-sm-12
    = simple_form_for @current_user, url: update_account_path, method: :post do |f|
      = render "form", f: f





