.clearfix.chart-filter
  .country-filter.pull-left
    = render "charts/filter/country"
  .station-filter.pull-left
    = render "charts/filter/station"
  .did-filter.pull-left
    = render "charts/filter/did"
  .day-filter.pull-right
    = render "charts/filter/day"
