moved content 
- if activity.parameters[:content_id]  
  - data_content = DataContent.find(activity.parameters[:content_id])
  - if data_content
    %span= link_to data_content.title, data_content_path(data_content), :remote => 'true'
on station
- if activity.trackable
  = link_to_settings_station(activity.trackable.id)  
- else
  which has since been removed