#edit_extension.modal{"aria-hidden" => "true", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        .modal_title
          %h4= "Edit Extension"
      .modal-body
        body
      .modal-footer
        footer