.pull-left.data-groups-filter.clearfix
	=I18n.t("titles.pages.users_and_tags.labels.data_group")
	= select_tag "data_group", options_for_select(@data_group_list, 1)
.pull-left.countries-filter.left-30.clearfix
	=I18n.t("titles.pages.users_and_tags.labels.country")
	= select_tag "data_group", options_from_collection_for_select(@countries, "id", "title", @us_id)