switched between stream url "#{activity.parameters[:old_url]}" and backup url "#{activity.parameters[:new_url]}" on content
- if activity.trackable
  %span= link_to activity.trackable.title, data_content_path(activity.trackable), :remote => 'true'
  - if activity.parameters[:channel_no]
    = "(Extension no: " + activity.parameters[:channel_no] + ")"
- else
  which has since been removed