$ ->
  $(document).ready customHooks
  $(document).on "page:load", customHooks
  $("body").on "show", customHooks

customHooks = ->
  
  $(".ajax-submit").on "click", (e) ->
    e.preventDefault()
    $(this).parents("form").submit()
    $(".loaded").hide()
    $(".loading").show()

  Main.init()
  $("nav.pagination").find("ul").addClass("pagination")

  $(".icheck-me").each ->
    skin =  "_" + $(this).attr('data-skin')
    color = "-" + $(this).attr('data-color')
    $(this).iCheck(checkboxClass: 'icheckbox' + skin + color, radioClass: 'iradio' + skin + color)

  $("select.select").each ->
    if $(this).hasClass("without_search")
      $(this).select2
        allowClear: true
        minimumResultsForSearch: -1    
    else if $(this).hasClass("without_css")
    else
      $(this).select2
        allowClear: true

  $(".submit_via_onchange").on "change", (e) ->
    $(this).parents("form").submit()

  $(".submit_form_via_click").on "click", (e) ->
    $(this).parents("form").submit()

  $("body").on "click", (e)->
    $(".tooltip").hide()

  $(".select2-input.select2-default").css("width", "inherit")

  $('[tip]').each ->
    $(this).tooltip
      title: $(this).attr("tip")
      placement: "auto"
      animation: false

  $(".submit_form_in_panel_body").on "click", (e) ->
    $(this).parent(".panel-footer").prev(".panel-body").find("form").submit()
      
  $("#teal_pagination").find("ul").addClass("pagination-teal")

  $(".taggable").each ->
    x = $(this).next("div.bootstrap-tagsinput")
    x.tooltip
      title: $(this).data("focus")
      placement: "auto"
      animation: false

  # Let buttons outside the form submit the form
  $(".form-submitter").on "click", (e)->
    e.preventDefault()
    form = $("form#" + $(this).attr("data-target"))

    if !$(this).hasClass("disabled")
      $("form#" + $(this).attr("data-target")).submit()

  $.alert = (message, callback) ->
    return false unless message
    modal_html = "<div id='custom_alert' class='modal'><div class='modal-dialog'><div class='modal-content' id='modal_alert'><div class='modal-body'><p>#{message}</p></div><div class='modal-footer'><a data-dismiss='modal' class='button color'>OK</a></div></div></div></div>"
    $modal_html = $(modal_html)
    $modal_html.modal
      backdrop: 'static'

  $.rails.allowAction = (element) ->
    message = element.data('confirm')
    subtitle = element.data('subtitle') || ""
    return true unless message
    $link = element.clone()
      .removeAttr('class')
      .removeAttr('data-confirm')
      .addClass('btn btn-dark-grey btn-sm confirm_ok')
      .attr("data-icon", "")
      .html("OK")
    $link.click ->
      $(".modal.fade").modal('hide')
    modal_html = "<div id='custom_alert' class='modal'><div class='modal-dialog'><div class='modal-content' id='modal_confirm'><div class='modal-body'><p>#{message}</p><div class='subtitle'>#{subtitle}</div></div><div class='modal-footer'><a data-dismiss='modal' class='btn btn-primary btn-sm'>Cancel</a></div></div></div></div>"
    $modal_html = $(modal_html)
    $modal_html.find('.modal-footer').append($link)
    $modal_html.modal
      backdrop: 'static'
    return false

  $(".custom_alert").on "click", (e) ->
    e.preventDefault()
    $.fn.custom_alert($(this).data("content"))

$.fn.custom_alert = (message)->
  return false unless message
  modal_html = "
  <div class='modal'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-body wysiwyg_content'>
          <p>#{message}</p>
        </div>
      <div class='modal-footer'>
        <a data-dismiss='modal' class='button color'>Close</a>
        </div>
      </div>
    </div>
  </div>"
  $modal_html = $(modal_html)
  $modal_html.modal
    backdrop: 'static'

$.getURLParameter = (paramName) ->
  searchString = window.location.search.substring(1)
  i = undefined
  val = undefined
  params = searchString.split("&")
  i = 0
  while i < params.length
    val = params[i].split("=")
    return unescape(val[1])  if val[0] is paramName
    i++
  null

$.showTooltip = (x, y, contents) ->
  $("<div id=\"tooltip\">" + contents + "</div>").css(
    position: "absolute"
    display: "none"
    top: y + 5
    left: x - 40
    border: "1px solid #333"
    padding: "4px 10px"
    color: "#fff"
    "border-radius": "3px"
    "background-color": "#000"
    opacity: 0.80
  ).appendTo("body").fadeIn 200




