#search_station {
  background-color: #0F3A55;
  padding-top: 30px;
  color: white;
  min-height: 200px;
}

.search_by_station_name {
  margin-top: -7px; 
  height: 34px;
}

.search_button {
  height: 34px !important;
  margin-top: 3px;
}
#station_list{
  margin-left: 80px;
  margin-right: 80px;
  font-size: 14px;
  margin-top: 20px;
  color: white;
  .station_box {
    .station_name {
      padding-left: 30px;
      margin-top: 3px;
      position: relative;
      a {
        font-weight: normal;
        p {
          position: absolute;
          top: 0;
          right: 50px;
          line-height: 50px;
          display: inline-block;
          text-align: left !important;
          text-transform: uppercase;
          color: white;
          text-transform: uppercase;
        }
      }
      &.active {
        a {
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
  }
}
.station_avatar {
  border: 6px solid #0063a0;
  border-radius: 50%;
  display: inline-block;
  span {
    width: 50px;
    height: 50px;
    display: block;
    border: 4px solid #CCCCCC;
    border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
  }
}
.station_box {
  min-height: 60px;
  padding: -10px;
}



.arrow {
  position: absolute;
  font-size: 20px;

  &.active {
    color: #66FF99;
  }
}

.station_pagination {
  font-size: 16px;
  margin-right: 20px;
  input {
    width: 40px;
    margin-right: 5px;
  }
}

.page_left {
  position: absolute;
  top: 40%;
  left: 40px;
}

.page_right {
  position: absolute;
  top: 40%;
  right: 40px;
}

.phone_numbers, .phone_form {
  span.label-inverse {
    margin-right: 3px;
    font-size: 14px !important;
    margin-bottom: 5px;
    display: inline-block;
  }
}

#url_found{
  display: none;
}

#data_groups, #data_tags {
  .panel-body {
    display: none;
  }
}

.data_groups_boxes {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 14px;
}

#data_groups_loader{
  min-height: 350px;
}

#minutes_graph{
  height: 180px;
}

#today_minutes {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: bold;

}