

.anis_day_not_active_page {
  .select-category-type {
    .radio-select {
      width: 100px;
      select {
        width: 120px !important;
      }
    }
  }
  .select-did {
    .radio-select {
      width: 130px;
      select {
        width: 150px !important;
      }
    }
  }

  .select-country {
    .radio-select {
      width: 130px;
      select {
        width: 150px !important;
      }
    }
  }

  .select-station {
    .radio-select {
      width: 130px;
      select {
        width: 150px !important;
      }
    }
  }
}