.tabbable
  %ul#myTab.nav.nav-tabs.tab-bricky
    %li
      = link_to "Unprocessed", pending_users_path
    %li.active
      = link_to "Processed", all_pending_users_path
  .tab-content
    .tab-pane.in.active
      = render "list"